<div class="flex bg-kg-grey-dark p-4 gap-4 align-middle">
  <span>
    <img class="inline md:hidden" src="./assets/logo-mobile.svg" alt="Logo" />
  </span>

  <span class="my-auto">
    <span class="text-kg-white text-kg-h-l mr-2">Platform Launch</span>
    <img
      class="inline md:hidden"
      src="./assets/icon-chevron-down.svg"
      alt="Arrow down"
    />
  </span>
  <app-button class="ml-auto text-kg-h-m" (clicked)="addNewTask()">
    <span class="flex">
      <img
        class="inline md:hidden"
        src="./assets/icon-add-task-mobile.svg"
        alt="Add New Task"
      />
      <span class="hidden md:inline">Add New Task</span>
    </span>
  </app-button>
</div>
