<div class="w-64 bg-kg-grey-dark h-screen border-r-kg-lines-dark border-r">
  <span class="inline-block mt-4 mb-12 ml-4">
    <img class="inline md:hidden" src="./assets/logo-mobile.svg" alt="Logo" />
    <img class="hidden md:inline" src="./assets/logo-light.svg" alt="Logo" />
  </span>

  <p class="text-kg-grey-medium text-kg-h-s ml-6">ALL BOARDS (3)</p>
  @for (board of boards; track $index) {
  <button
    class="flex items-center pl-6 mt-4 bg-kg-purple text-kg-white py-4 pr-4 rounded-r-full w-56"
  >
    <img
      class="icon-white-color inline mr-2"
      src="./assets/icon-board.svg"
      alt="Board Icon"
    />
    <span class="text-kg-h-m">{{ board }}</span>
  </button>
  }
  <button
    class="flex items-center pl-6 mt-4 text-kg-purple py-4 pr-4 rounded-r-full w-56"
  >
    <img class="inline mr-2" src="./assets/icon-board.svg" alt="Board Icon" />
    <span class="text-kg-h-m">+Create New Board</span>
  </button>
</div>
