<style>
  :host {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  main {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
</style>

<main class="bg-kg-grey-very-dark h-screen flex overflow-hidden">
  <app-side-panel
    class="hidden md:block w-64 h-full md:overflow-y-auto md:fixed"
  />

  <div class="flex flex-col w-full md:ml-64">
    <app-header class="w-full md:w-header-width h-16 fixed" />
    <app-board class="h-full mt-16 overflow-y-auto" />
  </div>
</main>

<router-outlet></router-outlet>
